/*  your css code here. If applicable */
.container{
	background-color : #f5f5f5;
	width:100%;
	padding:30px;	
}
.container div {
	background-color: white;
	border: 1px solid lightgray;
	padding:0px 15px;
	margin:15px;
}
.name{
	text-align:right;
	font-style:italic;
}